
body {
    margin: 0;
    padding: 0;
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

a{
    text-decoration: none;
}
body h2{
    color: #dddddd;
}
header{
    height: 800px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.7)), url(../gallery/57c4577b09d2931b008b4ee6.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header nav ul li a {
    color: #ffffff !important;
}

nav {
    width: 100%;
}
a .img2 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 40px;
}

.div1 .besth {
    font-size: 9rem;
    color:  #7f7d7f;
    text-align: center;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 1;
}
.div1 p {
    color:white;
    text-align: right;
    font-size: 20px;
}






.sec1 {
    height: 900px;
    background-image: url(../forder/1086_PIA00135.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 .maindiv1 {
    display: flex;
}
.sec1 h2 {
    font-size: 48px;
    color: #dddddd;
}

.sec1 .p1{
    font-size: 28px;
    color: #a5a5a5;
}

.sec1 .p2{
    font-size: 16px;
    color: #a5a5a5;
}





#nav{
    position: fixed;

}
.active{
    background:  #06020e;
}
.img1{

width: 400px;
}

.dark {
    background-image: url(../gallery/galaxy-g6921f15a8_1280.webp);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  

}
.overlay  .btn-outline-danger {
    width: 120px;
    font-size: 15px !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    width: 102%;
    height: 100%;
    line-height: 400px;

}

.dark:hover  .overlay  {
    visibility: visible;
    opacity: 1;
}













.sec2 {
    height: 1500px;
    background-image: linear-gradient( 40deg,#e74f02,#312429,#1e1e3b,black);
    background-repeat: no-repeat;
    background-size: cover;
}
.lovednebula h2 {

font-size: 40px;    
}


.btn1{
    background: #f56a00 !important;
    padding: 5px 25px !important;
    border: 1px solid black !important;
}
.overlay1 {
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    width: 50%;
    height: 100%;
    line-height: 350px;
}



.overlay2 {
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    width: 94%;
    height: 100%;
    line-height: 350px;

}
.overlay3 {
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: 0.8s;
    width: 79%;
    height: 91%;
    line-height: 400px;
   
}

.sec2 .sec2-img1 {
    background-image: url('../gallery/new gallery/Arcturus-star.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}
.sec2 .sec2-img1:hover .overlay1{
    visibility: visible;
    opacity: 1;
}




.sec2 p {
    font-size: 20px;
    color: #a5a5a5;
}
.sec2 .sec2-img2{
    background-image: url('../oldgallery/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}
.sec2 .sec2-img2:hover .overlay2{
    visibility: visible;
    opacity: 1;
}


.sec2 .sec2-img3 {
    background-image: url('../gallery/new gallery/mbSBmKdLjUimSXZQC48n3W-320-80.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
}
.sec2 .sec2-img3:hover .overlay3{
    visibility: visible;
    opacity: 1;
}
.img4 {
    width: 600px;
}  
.img4:hover   {
    visibility: visible;
    opacity: 1;
}

.sec3{
    height:1000px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../forder/7yojSnrjnEZHoXtA2XLHxF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sec3 h2 {
    color: #dddd;
    font-size: 40px;
    text-align: center;
}
.sec3 p {
    color: rgb(245, 229, 229);
    font-size: 20px;
    text-align: center;
}
.img5 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
}  



.sec4 {
    height: 700px;
    background-image:linear-gradient(90deg,rgb(4, 3, 3),rgb(12, 4, 4),rgb(12, 11, 11));
    background-repeat: no-repeat;
    background-size: cover;
}
.sec4-div1 h2 {
font-size: 40px;
text-align: center;
}
.sec4-div1 p {
    color:aliceblue;
    font-size: 20px;
    text-align: center;
    }
.sec4-div2 p {
color:whitesmoke;
 font-size: 20px;
 text-align: center;
}
.sec4-div3 h2 {
    text-align: center;
    font-size: 50px;
    color:white;
   }
   .sec4-div3 p {
    text-align: center;
    font-size: 20px;
    color:white;
   }

.btn-sec4{
    border: 1px solid #5805fe !important;
    color: #5805fe  !important;
}




footer{
    background-image: url(../finalimage/GettyImages-1093711310-hero-56c27f8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

